src/main/mule/global/retrieveconsolidatedroutesandschedule-fastgo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
   <flow name="retrieveconsolidatedroutesandschedule-fastgo-sapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedule-fastgo-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedule-fastgo-sapi-config" />
        <error-handler ref="global_error_handlerError_Handler">
                 </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedule-fastgo-sapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedule-fastgo-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedule-fastgo-sapi-config" />
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\routes:retrieveconsolidatedroutesandschedule-fastgo-sapi-config">
		<flow-ref doc:name="get routes" doc:id="3f1fdfcb-c88f-4bfa-8c3a-3729d980a762" name="getRoutesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="479481b7-3dda-4cec-a222-b9a2c8912eae" />
    </flow>
    <flow name="get:\(transportType)\(transportCompany)\schedules:retrieveconsolidatedroutesandschedule-fastgo-sapi-config">
		<flow-ref doc:name="get schedules" doc:id="d789e9ed-ee67-4321-8040-93a001919a14" name="getSchedulesSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="9db62be2-7d33-4d2c-aaf3-37e09a360418" />
    </flow>
</mule>
